<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AboutMe</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div>
<h1 id="header">About me</h1>
</div>

<div><span class="margin"><a href="/">Home</a></span><span class="margin"><a href="/aboutme">About me</a></span><span class="margin"><a href="/blog">Blog</a></span><span class="margin"><a href="/myprojects">My projects</a></span><span class="margin"><a href="/contact">Contact</a></span></div>

<div>
<img class="image" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15876864_324614777932827_5496222202187481088_n.jpg">
</div>


<div>
<p><span class="bold"> Name:</span> {{ name }}</p>
<p><span class="bold"> Age:</span> {{ age }}</p>
<p><span class="bold"> Education:</span> <a href="https://www.fs.uni-lj.si/">{{ education }}</a></p>
<p><span class="bold"> Employment:</span> <a href="http://hella.com/hella-si/index.html"> {{ employment }}</a></p>
<p><span class="bold"> Town:</span> <a href="http://www.kamnik.si/"> {{ town }}</a></p>
<p><span class="bold"> Goals for future:</span> {{ goals }}</p>
</div>

<footer>
    test test test
</footer>

</body>
</html>