
{% extends "base.html" %}

{% block title %}Blog{% endblock title %}

{% block header %}Blog{% endblock header %}

{% block content %}
<div>
    <img class="image" src="http://www.aliahtravelandtours.com/images/FD/World-Of-Travel-Wallpaper.jpg">
</div>

<p>February 18th</p>
<h3>Vacation</h3>

<p>A vacation or holiday is a leave of absence from a regular occupation, or a specific trip or journey, usually for the purpose of recreation or tourism. People often take a vacation during specific holiday observances, or for specific festivals or celebrations. Vacations are often spent with friends or family[citation needed].

A person may take a longer break from work, such as a sabbatical, gap year, or career break.

The concept of taking a vacation is a recent invention, and has developed through the last two centuries. Historically, the idea of travel for recreation was a luxury that only wealthy people could afford (see Grand Tour). In the Puritan culture of early America, taking a break from work for reasons other than weekly observance of the Sabbath was frowned upon. However, the modern concept of vacation was led by a later religious movement encouraging spiritual retreat and recreation. The notion of breaking from work periodically took root among the middle and working class.
</p>

<p><a href="https://en.wikipedia.org/wiki/Vacation">Source</a></p>

<div>
    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Hexahedron.jpg/280px-Hexahedron.jpg">
</div>

<p>February 17th</p>

<p></p>

<h3>Cube</h3>

<p>In geometry, a cube[1] is a three-dimensional solid object bounded by six square faces, facets or sides, with three meeting at each vertex.

The cube is the only regular hexahedron and is one of the five Platonic solids. It has 6 faces, 12 edges, and 8 vertices.

The cube is also a square parallelepiped, an equilateral cuboid and a right rhombohedron. It is a regular square prism in three orientations, and a trigonal trapezohedron in four orientations.

The cube is dual to the octahedron. It has cubical or octahedral symmetry.</p>

<p><a href="https://en.wikipedia.org/wiki/Cube">Source</a></p>

{% endblock content %}

