{% extends "base.html" %}

{% block title %}Contact{% endblock title %}

{% block header %}Contact{% endblock header %}

{% block content %}
<div class="top">My contact information:</div>

<div>
    <p><span class="bold"> Street name and number:</span> {{ street }}</p>
    <p><span class="bold"> Town:</span> {{ town }}</p>
    <p><span class="bold"> Country</span> {{ country }}</p>
    <p><span class="bold"> Email address:</span> {{ email }}</p>
    <p><span class="bold"> Instagram:</span> {{ instagram }}</p>
    <p><span class="bold"> Facebook:</span> {{ facebook}}</p>
    <p><span class="bold"> Snapchat:</span> {{ snapchat }}</p>
</div>

{% endblock content %}

