<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Contact</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
<div>
<h1 id="header">Contact</h1>
</div>
<div><span class="margin"><a href="/">Home</a></span><span class="margin"><a href="/aboutme">About me</a></span><span class="margin"><a href="/blog">Blog</a></span><span class="margin"><a href="/myprojects">My projects</a></span><span class="margin"><a href="/contact">Contact</a></span></div>


<div class="top">My contact information:</div>

<div>
<p><span class="bold"> Street name and number:</span> {{ street }}</p>
<p><span class="bold"> Town:</span> {{ town }}</p>
<p><span class="bold"> Country</span> {{ country }}</p>
<p><span class="bold"> Email address:</span> {{ email }}</p>
<p><span class="bold"> Instagram:</span> {{ instagram }}</p>
<p><span class="bold"> Facebook:</span> {{ facebook}}</p>
<p><span class="bold"> Snapchat:</span> {{ snapchat }}</p>
</div>
</body>
</html>