{% extends "base.html" %}

{% block title %}My projects{% endblock title %}

{% block header %}My projects{% endblock header %}

{% block content %}
<div>
    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg">
</div>

<h3>Climbing Mount Everest</h3>

<p>
To reach the summit of Everest (29,035 ft./8,850 m) you must be in top physical, emotional, and psychological condition. Benchmarks for physical conditioning include: Successful previous trips above 20,000 ft. whenever possible, during which you will gain experience dealing with gear and equipment; handling extremely cold temperatures and extreme altitude; gaining solid cramponing skills both on and off rock, snow, and ice; rappelling with a pack on; and using ascenders and jumars on a fixed line. In addition to solid alpine living, snow, and ice-climbing skills, you need significant strength endurance, high-altitude tolerance, and strong cardiovascular conditioning.

Keep in mind that just because you exercise regularly at significantly lower elevation does not mean you have suitable conditioning needed to stand on top of the world. Cardiovascular fitness is simply not enough. You should focus on building physical conditioning at lower altitudes necessary to ascend 4,000 ft. of elevation on successive days carrying 50–60 lbs. Although you will not be carrying such weight on Everest, by conditioning your body to that degree of high tolerance, you will have built extra reserves that will serve you very well on the mountain as you inevitably start to lose musculature and body fat from being at extreme altitudes for two months. This extra reserve will also make it possible to focus on the many, many other components involved in a climb of such extremes, rather than dealing with the added harsh reality that your physical preparation may have been somewhat less than adequate.

Prioritize your training efforts in the following way, assuming that you are in good health and injury-free:

Climbing conditioning — pack-loaded uphill hiking, walking, and stair climbing
Strength training — for the lower body and core
Cardiovascular training — including both aerobic and anaerobic workouts with and without pack weight
Flexibility training
Most people will need to train specifically for their climb of Everest for at least a year, building up from a solid baseline of fitness for the last six to nine months. During your training, you will need to progressively ramp up your hike time, distance, and elevation gain (at roughly 10% per week) to safely and effectively build your climbing- specific conditioning. Trying to rush this will increase the risk of experiencing some sort of training injury and not being ready for your trip. Below are more details of how to incorporate these four priorities into your training program.

</p>
{% endblock content %}






